# created by virtualenv automatically
venv
.idea
./JAVASCRIPT/O/icons
./HTML/media
/HTML/img/bender.webp
/HTML/img/css-box-model.webp
/JAVASCRIPT/О/icons/edit.png
/JAVASCRIPT/О/icons/favorites.png
/JAVASCRIPT/О/icons/fb.png
/JAVASCRIPT/О/icons/fb_gray.png
/HTML/fonts/FiraMono-Regular.otf
/JAVASCRIPT/О/icons/Food_C203-128.png
/JAVASCRIPT/О/icons/Food_C205-128.png
/JAVASCRIPT/О/icons/Food_C217-128.png
/JAVASCRIPT/О/icons/Food_C225-128.png
/JAVASCRIPT/О/icons/Food_C235-128.png
/JAVASCRIPT/О/icons/Food_C238-128.png
/JAVASCRIPT/О/icons/Food_C239-128.png
/JAVASCRIPT/О/icons/Food_C240-128.png
/JAVASCRIPT/О/icons/Food_C245-128.png
/JAVASCRIPT/О/icons/Food_C247-128.png
/JAVASCRIPT/О/icons/insta.png
/JAVASCRIPT/О/icons/insta_gray.png
/HTML/fonts/NotCourierSans.otf
/HTML/fonts/NotCourierSans-Bold.otf
/HTML/fonts/NotCourierSans-webfont.woff
/HTML/img/paddings.jpg
/HTML/img/paddings.webp
/JAVASCRIPT/О/icons/security.png
/JAVASCRIPT/О/icons/settings.png
/HTML/media/video.mp4
/HTML/media/video.webm
/JAVASCRIPT/О/icons/youtube.png
/JAVASCRIPT/О/icons/youtube_gray.png
/JAVASCRIPT/О/PYTHON315 HW №4/Модуль 2. Текст в HTML CSS.md
/JAVASCRIPT/О/PYTHON315 HW №4/Модуль 2. Текст в HTML CSS.pdf
/JAVASCRIPT/О/PYTHON315 HW №4/Модуль 3. Работа с графикой HTML.md
/JAVASCRIPT/О/PYTHON315 HW №4/Модуль 3. Работа с графикой HTML.pdf
/PYTHON/hw/users.csv
/data/Books_files/0bbcd0a6f4bcd81ccb1049a52736406e.jpg
/data/Books_files/2cdad67c44b002e7ead0cc35693c0e8b.jpg
/data/Books_files/3d54940e57e662c4dd1f3ff00c78cc64.jpg
/data/Books_files/3eef99c9d9adef34639f510662022830.jpg
/data/Books_files/5b88c52633f53cacf162c15f4f823153.jpg
/data/Books_files/09a3aef48557576e1a85ba7efea8ecb7.jpg
/data/Books_files/27a53d0bb95bdd88288eaf66c9230d7e.jpg
/data/Books_files/81c4a973364e17d01f217e1188253d5e.jpg
/data/Books_files/94b1b8b244bce9677c2f29ccc890d4d2.jpg
/data/Books_files/260c6ae16bce31c8f8c95daddd9f4a1c.jpg
/data/Books_files/1048f63d3b5061cd2f424d20b3f9b666.jpg
/data/Books_files/3251cf3a3412f53f339e42cac2134093.jpg
/data/Books_files/54607fe8945897cdcced0044103b10b6.jpg
/data/Books_files/66883b91f6804b2323c8369331cb7dd1.jpg
/data/Books_files/68339b4c9bc034267e1da611ab3b34f8.jpg
/data/Books_files/92274a95b7c251fea59a2b8a78275ab4.jpg
/data/Books_files/553310a7162dfbc2c6d19a84da0df9e1.jpg
/data/Books_files/5846057e28022268153beff6d352b06c.jpg
/data/Books_files/bea5697f2534a2f86a3ef27b5a8c12a6.jpg
/data/Books_files/bef44da28c98f905a3ebec0b87be8530.jpg
/data/Books.htm
/PYTHON/books.json
/data/Books_files/bootstrap.min.js
/data/Books_files/bootstrap-datetimepicker.all.js
/data/Books_files/bootstrap-datetimepicker.css
/data/Books_files/bootstrap-datetimepicker.js
/data/Books_files/contextmenu.css
/data/Books_files/datetimepicker.css
/PYTHON/google.png
/data/Books_files/jquery.min.js
/data/Books_files/logo16.png
/data/Books_files/prompt.js
/data/Books_files/s3downbar.css
/data/Books_files/styles.css
/data/Books_files/tooltip.css
/data/Books_files/ui.js
data/data.pickle
log.txt
/PYTHON/__pycache__/
PYTHON/__pycache__/lesson_37_test.cpython-312-pytest-8.0.0.pyc
marvel_not_normal.db
.vscode/settings.json
.vscode/settings.json
python315_marvel_nm.session.sql
.vscode/settings.json
test.session.sql
