body {
    font-size: 2.7vh;
}

h2 {
    font-size: 1.3em;
    color: rgb(247, 0, 255);
}

h1 {
    color: rgb(169, 9, 9);
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    /* курсив */
    font-style: italic;
}

h3 {
    color: green;
    /* Подчеркнутый */
    text-decoration: underline;
    font-size: 1.15em;
}

.favor-blockquote {
    font-family: 'Bookman Old Style', monospace;
    font-size: 20px;
}

.italic {
    font-style: italic;
}

.favor-blockquote,
.italic {
    color: rgb(169, 9, 9);
}


.main-photo {
    border-radius: 5%;
    border: 2px solid rgb(255, 0, 0);
    /* width: 100%; */
    /* max-width: 1%; */
    /* Ширина в относительных размерах к родительскому элементу */
    width: 25em;
    min-width: 30%;
    max-width: 45%;

}